.Style {
	margin: 30px auto;
	width: 80%;
	table {
		margin-top: 10px;
		width: 100%;
		text-align: center;
	}

		button {
			margin-left: 5px;
			margin-bottom: 5px;
			float: flex;
		}
		
}

.Style Form {
	margin: 10px auto;
	padding: 0 5%;
}

.Click {
	margin-bottom: 10px;
	padding: 5px;
	background-color: rgba(95, 255, 91, 0.5);
	border-radius: 8px;
	border: 1px solid rgb(180, 180, 180);
}





