.Logo img {
	width: 150px;
	height: 60px;
	border-radius: 30px;
	box-shadow: 3px 5px 8px 4px #888888;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
	.Logo img {
	width: 90px;
	height: 40px;
	box-shadow: 0px 0px 1px 0px #888888;
	
}
  
}